{% extends 'admin.html.twig' %}

{% block title %} Liste des membres{% endblock %}

{% block body %}

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var $table1 = jQuery('#table-1');
// Initialize DataTable
            $table1.DataTable({
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true,
                dom: 'lBfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
// Initalize Select Dropdown after DataTables is created
            $table1.closest('.dataTables_wrapper').find('select').select2({
                minimumResultsForSearch: -1
            });
        });
    </script>
        <div class="row">
			      {% for message in app.flashes('success')  %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                {% endfor %}
			</div>
    <h4 style="padding: 10px 0;">Liste des membres</h4>
    <span><a href="{{ path('user_new') }}" class="btn btn-primary">Ajouter un membre</a></span>
    <table class="table table-bordered datatable" id="table-1">
        <thead>
            <tr>
                <th class="sorting_disabled">ID</th>
                <th class="sorting_asc">Email</th>
                <th class="sorting_asc">Nom</th>
                <th class="sorting_disabled">Prenom</th>
                <th class="sorting_disabled">Adresse Postal</th>
                <th class="sorting_disabled">Solde</th>
                <th class="col-md-3">Actions</th>
            </tr>
        </thead>
        <tbody>
         {% for user in users %}
            <tr class="odd gradeX">
                <td style="vertical-align: middle;">{{ user.id }}</td>
                <td style="vertical-align: middle;">{{ user.email }}</td>
                <td style="vertical-align: middle;">{{ user.nom }}</td>
                <td style="vertical-align: middle;">{{ user.prenom }}</td>
                <td style="vertical-align: middle;">{{ user.adressePostal }}</td>
                <td style="vertical-align: middle;">{{ user.solde }}</td>
                <td class="col-md-3" style="vertical-align: middle; text-align: center;">
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary btn-sm btn-icon icon-left"> <i class="entypo-pencil"></i>Éditer</a>
                    <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-primary btn-sm btn-icon icon-left"> <i class="entypo-trash"></i>Supprimer</a>
        
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Pas d'utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
           <th>ID</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse Postal</th>
            <th>Solde</th>
            <th>Actions</th>
        </tr>
        </tfoot>
    </table>


{% endblock %}
