{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}


<section class="formContent">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-2">
                    <h2>Connexion</h2>

                    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    
    <div class="form-group col-ms-6 col-md-8 col-lg-10">
        <label for="inputEmail">Email address:</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    </div>
    <div class="form-group col-ms-6 col-md-8 col-lg-10">

    <label for="inputPassword">Mot de passe:</label>
    <input type="password" name="password" id="pwd" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
  
    </div>
    <div class="form-group col-ms-6 col-md-8 col-lg-10 offset-3">
        <p><a href="#">Mot de passe oublié ?</a></p>
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
       <div class="row">
            <div class="col-md-8 col-lg-8 offset-1">
                <button type="submit" class="btn btn-primary btn-block">Se Connecter</button>
            </div>
        </div>

  
    </form>
</section>



    <div class="section rainbow">
        <svg version="1.1" viewBox="0 0 1440 335">
            <g>
                <polygon fill="#FA0029" points="0.2,218.7 503.7,174.6 0.2,0"></polygon>
                <polygon fill="#FF5959" points="0.2,207.7 0.2,275.2 503.7,174.6"></polygon>
                <polygon fill="#FF9E16" points="503.7,174.6 1440,259.9 1440,88"></polygon>
                <polygon fill="#FFD700" points="503.7,174.6 1440,88 1440,22.3"></polygon>
                <polygon fill="#95D600" points="0.2,320.1 0.2,333.5 218,333.5 503.7,174.6"></polygon>
                <polygon fill="#00AC41" points="0.2,271.2 0.2,320.1 503.7,174.6"></polygon>
                <polygon fill="#7DCAEC" points="968.4,333.5 1377,333.5 503.7,174.6"></polygon>
                <polygon fill="#2F7DE1" points="439.5,333.5 762.9,333.5 503.7,174.6"></polygon>
                <polygon fill="#E2E71F" points="184.8,333.5 148.8,333.5 439.5,333.5 503.7,174.6"></polygon>
                <polygon fill="#2BACE4" points="762.9,333.5 968.4,333.5 503.7,174.6"></polygon>
                <polygon fill="#FF5000" points="1377,333.5 1440,333.5 1440,252.9 503.7,174.6"></polygon>
            </g>
        </svg>
    </div>

{% endblock %}