{% extends 'admin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


   <section id="main">
            <div class="row">
                <div class="col-md-12">
                     <div class="list-group">
                        <h6 href="#" class="list-group-item list-group-item-action active main-color-bg"
                            style="text-align: center;background-color:#562d7b">
                            Tableau de Bord
                        </h6>
                        <a href="{{ path('restaurant_index') }}" class="list-group-item list-group-item-action"><i
                                    class="entypo-layout"></i> Restaurants <span
                                    class="badge"> {{ totalRestaurant|number_format }}</span> </a>
                        <a href="{{ path('commande_index') }}" class="list-group-item list-group-item-action"><i
                                    class="entypo-layout"></i> Commandes en cours <span
                                    class="badge"> {{ commandeEnCours|number_format }} </span></a>
                        <a href="{{ path('commande_index') }}" class="list-group-item list-group-item-action"><i
                                    class="entypo-layout"></i> Commandes Passe <span
                                    class="badge">{{ commandePasse|number_format }}</span></a>
                    </div>           
                </div>
        </div>
    </section>

    <div class="main-heading" style="margin-top: 150px; text-align: center; height: 280px;">
        <h1 style="font-family: 'Raleway SemiBold'">Bienvenue dans la zone d'administration</h1>
    </div>

{% endblock %}
