{{ form_start(form) }}
   {# {{ form_widget(form) }}#}
    {#<button class="btn">{{ button_label|default('Commander') }}</button>#}

<td data-th="Quantity">
{{ form_row(form.quantite) }}
</td>
<td data-th="Subtotal" class="text-center">2.5 €</td>
		{#<td class="actions" data-th="">
			<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
			<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
		</td>#}
	</tr>
	</tbody>
	<tfoot>
	{#<tr class="visible-xs">
		<td class="text-center"><strong>Total 1.99 €</strong></td>
	</tr>#}
	<tr>
		<td><a href="{{ path('detail_restaurant', {id: plat.restaurant.id}) }}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Retour au restaurant</a></td>
		<td colspan="2" class="hidden-xs"></td>
		{#<td class="hidden-xs text-center"><strong>Total $1.99 €</strong></td>#}
        <td><button class="btn btn-success btn-block" >{{ button_label|default('Commander') }}<i class="fa fa-angle-right"></i></button></td>
	</tr>
</tfoot>
{{ form_end(form) }}
