<ul class="navbar-nav ml-auto" >
    {% if Check == 1 %}
        <li class="nav-item "> <a href="{{ path('front_restaurants_list') }}" class="nav-link nav-a" style="color: red;"> Restaurants</a> </li>
        <li class="nav-item "> <a href="{{ path('users_logout') }}" class="nav-link nav-a" style="color: red;"> Se déconnecter</a> </li>
    {% else %}
{#        <li class="nav-item "> <a href="{{ path('users_register') }}" class="nav-link nav-a " style="color: red;">Restaurant?</a> </li>#}
        <li class="nav-item "> <a href="{{ path('user_login_action') }}" class="nav-link nav-a " style="color: red; display: inline;">S'identifier </a> / <a href="{{ path('users_register') }}" class="nav-link nav-a " style="color: red; display: inline;">S'inscrire</a> </li>
{#        <li class="nav-item "> <a href="{{ path('front_restaurants_list') }}" class="nav-link nav-a " style="color: red;"> Restaurants</a> </li>#}
    {% endif %}
</ul>