{% extends 'admin.html.twig' %}

{% block title %} !{% endblock %}

{% block body %}

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var $table1 = jQuery('#table-1');
// Initialize DataTable
            $table1.DataTable({
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true,
                dom: 'lBfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
// Initalize Select Dropdown after DataTables is created
            $table1.closest('.dataTables_wrapper').find('select').select2({
                minimumResultsForSearch: -1
            });
        });
    </script>
    <h4 style="padding: 10px 0;">Liste des restaurants</h4>
    <span><a href="{{ path('admin_restaurant_insert') }}" class="btn btn-primary">Ajouter un restaurant</a></span>
    <table class="table table-bordered datatable" id="table-1">
        <thead>
            <tr>
                <th class="sorting_asc">Id</th>
                <th class="sorting_disabled">Nom</th>
                <th class="sorting_disabled">Logo</th>
                <th class="sorting_disabled">Email</th>
                <th class="sorting_disabled">Adrsse</th>
                <th class="col-md-3">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for item in Restaurants|reverse %}
            <tr class="odd gradeX">
                <td style="vertical-align: middle;">{{ loop.index }}</td>
                <td style="vertical-align: middle;">{{ item.name }}</td>
                <td style="vertical-align: middle;"><img style="width: 50px;" src="{{ asset( item.logo ) }}" alt="Logo"></td>
                <td style="vertical-align: middle;">{{ item.email }}</td>
                <td style="vertical-align: middle;">{{ item.address }}</td>
                <td class="col-md-3" style="vertical-align: middle; text-align: center;">
                    <a href="{{ path('admin_restaurant_update',{id:item.id}) }}" class="btn btn-primary btn-sm btn-icon icon-left"> <i class="entypo-pencil"></i>Éditer</a>
                    <a href="" class="btn btn-primary btn-sm btn-icon icon-left"> <i class="entypo-pencil"></i>Vaisselle</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Logo</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>


{% endblock %}
