
{% extends 'admin.html.twig' %}

{% block title %} Liste Commandes{% endblock %}

{% block body %}

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var $table1 = jQuery('#table-1');
// Initialize DataTable
            $table1.DataTable({
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true,
                dom: 'lBfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
// Initalize Select Dropdown after DataTables is created
            $table1.closest('.dataTables_wrapper').find('select').select2({
                minimumResultsForSearch: -1
            });
        });
    </script>
        <div class="row">
			      {% for message in app.flashes('success')  %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                {% endfor %}
			</div>
    <h4 style="padding: 10px 0;">Liste des commandes</h4>
    {#span><a href="#" class="btn btn-primary">Ajouter une commande</a></span>#}
    <table class="table table-bordered datatable" id="table-1">
        <thead>
            <tr>
                <th class="sorting_disabled">Id</th>
                <th class="sorting_asc">Reference</th>
                <th class="sorting_disabled">Plat</th>
                <th class="sorting_disabled">Quantité</th>
                <th class="sorting_disabled">Total</th>
                <th class="sorting_disabled">Status</th>
                <th class="col-md-3">Actions</th>
            </tr>
        </thead>
        <tbody>
          {% for commande in commandes %}
            <tr class="odd gradeX">
        
                <td style="vertical-align: middle;">{{ commande.id }}</td>
                <td style="vertical-align: middle;">{{ commande.refCommande }}</td>
                <td style="vertical-align: middle;">{{ commande.plat }}</td>
                <td style="vertical-align: middle;">{{ commande.quantite }}</td>
                <td style="vertical-align: middle;">{{ commande.formattedPrice  }} €</td>
                <td style="vertical-align: middle;">{{ commande.status ? 'Passées' : 'En cours' }}</td>
                <td class="col-md-3" style="vertical-align: middle; text-align: center;">
                    <a href="{{ path('commande_edit', {'id': commande.id}) }}" class="btn btn-primary btn-sm btn-icon icon-left"> <i class="entypo-pencil"></i>Éditer</a>
                    <a href="{{ path('commande_delete', {'id': commande.id}) }}" class="btn btn-primary btn-sm btn-icon icon-left"> <i class="entypo-trash"></i>Supprimer</a>
        
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">pas de commande</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
                <th >Id</th>
                <th>Reference</th>
                <th >Plat</th>
                <th >Quantité</th>
                <th >Total</th>
                <th >Status</th>
        </tr>
        </tfoot>
    </table>


{% endblock %}
